/* Form */
.form {
    border: 2px solid var(--blue);
}

.form h3,
h4 {
    color: var(--blue);
}

.contact-info {
    padding: 2.5rem;
}

.social-icon i {
    color: var(--grey);
}

.social-icon i:hover {
    color: var(--blue);
}

.contact-form {
    background: var(--blue);
    padding: 2.5rem;
}

.icon {
    top: calc(50%);
    left: 1.25rem;
    color: var(--grey);
}

.form-floating {
    color: var(--grey);
}

.contact-form label {
    left: 0.5rem;
    padding-left: 3rem;
}

.form-floating .form-control {
    padding-left: 3.15rem;
}

.icon-textarea {
    top: 1.8rem;
    left: 1.25rem;
    color: var(--grey);
}

.btn-form {
    background: var(--white);
    width: 7.5rem;
    padding: 0.7rem;
    color: var(--blue);
    border: 2px solid var(--blue);
}

.btn-form:hover {
    background: var(--blue);
    color: var(--white);
    border: 2px solid var(--white);
}

.modal-img {
    width: 15rem;
}

/* Google Maps */
iframe {

    height: 400px;
    border: 3px solid var(--white);
}
