@import url('https://fonts.cdnfonts.com/css/sinkin-sans-400-regular?styles=16766,16759,16767,16769,16771');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Sinkin Sans 400 Regular 400', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: var(--lightgrey);
}

:root {
    --darkblue: #222A43;
    --bluepen: #48789A;
    --blue: #33809F;
    --blueice: #53C2BE;
    --lightblue: #CBE4ED;
    --lightgrey: #FAFAFA;
    --white: #FFFFFF;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
    --tran-06: all 0.6s ease;
    --tran-07: all 0.7s ease;

    --shadow: 0 0 20px 1px rgb(0 0 0 / 10%);
}

h1 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

h1:after {
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 3px;
    background: var(--blue);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/* backgrounds */
.white {
    background: #ffffff65;
    box-shadow: var(--shadow);
    z-index: 2;
}

.blue {
    background: #cbe4ed98;
}

.darkblue {
    background-color: var(--darkblue);
}

/* header */
.header {
    background: #ffffffbb;
}

.text-logo {
    color: var(--bluepen);
}

.nav-link {
    margin-left: 40px;
    font-size: 20px;
    color: var(--darkblue);
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: var(--blue);
    border-bottom: 3px solid var(--blue);
}

/* footer */
.footer .icon {
    height: 10px;
}

.footer {
    background: var(--darkblue);
    color: var(--white);
    list-style: none;
}

.footer h3 {
    color: var(--blueice);
}

.sub-title {
    font-size: 21px;
}

hr {
    color: var(--blue-ice);
    border-bottom: 2px solid var(--blueice);
}

.fa-brands,
.fa-solid {
    color: var(--blue-ice);
}

a {
    color: var(--white);
}